doctype html
html
  head
    meta(charset='utf-8')      
    title Battleship
    link(rel='stylesheet', href='/vendor/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href=isProd ? '/index.min.css' : '/index.css')
    link(rel='shortcut icon', href='/favicon.ico')
  body
    h1 Battleship
    #signingUp
      input#email(type='email', placeholder='email')
      input#password(type='password', placeholder='password')
      button#create-user Sign Up
      button#userExists Existing User
    #signingIn
      input#userEmail(type='email', placeholder='email')
      input#userPassword(type='password', placeholder='password')
      button#login-user Sign In
    #creatingUser
      input#handle(type='text', placeholder='handle')
      input#avatar(type='url', placeholder='url to avatar')
      button#create-character Create Character
      button#logout-user Sign Out
    #shipCreation
      #firstRow
        input#shipName
        input#originX
        input#originY
      #secondRow
        select#shipType
        input#shipWidth
        input#shipHeight
      #thirdRow
        button#createShip Create Ship
    #arena
    
      table#characters
        thead
          tr
            th Handle
            th Avatar
        tbody
    
    script(src='/vendor/momentjs/min/moment.min.js')
    script(src='/vendor/jquery/dist/jquery.min.js')
    script(src='/vendor/lodash/lodash.min.js')
    script(src='/vendor/firebase/firebase.js')
    script(src=isProd ? '/index.min.js' : '/index.js')
