doctype html
html
  head
    meta(charset='utf-8')      
    title Battleship
    link(rel='stylesheet', href='/vendor/animate.css/animate.min.css')
    link(rel='stylesheet', href='/vendor/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href=isProd ? '/index.min.css' : '/index.css')
    link(rel='shortcut icon', href='/favicon.ico')
  body
    h2 The year is 2106.  Earth no longer exists.  Welcome to Battleship Galatica!!
    #welcomeDiv
      h4 (Here, we search and destroy enemy alien ships before they destroy us.)
    #topAnchor
      #signingUp
        input#email(type='email', placeholder='email')
        input#password(type='password', placeholder='password')
        button#login-user Log Me In
        button#create-user Sign Me Up
      #creatingUser
      #shipCreation
    //-   #firstRow
    //-     input#shipName(type='text', placeholder='Ship Name')
    //-     input#originX(type='text', placeholder='start x-coordinate (0 to 11)')
    //-     input#originY(type='text', placeholder='start y-coordinate (0 to 11)')
    //-   #secondRow
    //-     select#shipType
    //-       option 
    //-     input#shipWidth
    //-     input#shipHeight
    //-     button#createShip Create Ship
    #battlestation
      table#characters
        tbody
          tr
            //- td#handleName 
            //- td#avatarImg 
            
      table#board
        tbody
          - for (var y = 0; y < 12; y++)
            tr
              - for (var x = 0; x < 12; x++)
                td(data-x= x, data-y=y)
    
    script(src='/vendor/momentjs/min/moment.min.js')
    script(src='/vendor/jquery/dist/jquery.min.js')
    script(src='/vendor/lodash/lodash.min.js')
    script(src='/vendor/firebase/firebase.js')
    script(src=isProd ? '/index.min.js' : '/index.js')
