*{
  padding: 5px;
  margin: 5px;
}

thead tr th {
  width: 30px;
  height: 30px;
  border: 1px dashed red;
}

#characters tbody tr td {
  width: 30px;
  height: 30px;
  border: 1px dashed red;
  background-size: cover;
}

.active{
  background-color: yellow;

}
